@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.auth-container {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    margin-top: 80px;
    margin-left: 100px;
    width: 175vh;
    height: 85vh;
    background: #F9F9F9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: "Inter", sans-serif;
}

.auth-container.popup {
    animation: animm 1s ease forwards;
}

.auth-container.popout {
    animation: popout 1s ease forwards;
}

@keyframes animm {
    from {
        top: 100%;
    }
    to {
        top: 0%;
    }
}

@keyframes popout {
    from {
        top: 0%;
    }
    to {
        top: 100%;
    }
    100% {
        display: none;
    }
}


.input-container {
    position: absolute;
    top: 30%;
    left: 45%;
    font-family: "Inter", sans-serif;
}

.txtkey {
    width: 30rem;
    margin-left: -11rem;
    height: 3rem;
    text-align: center;
    font-size: 20px;
}

.btnsub {
    background: #EA2929;
    border-radius: 8px;
    width: 160px;
    height: 40px;
    border-style: none;
    color: #F9F9F9;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    min-width: 135px;
    margin-top: 10px;
}

.btnexit {
    background: #EA2929;
    border-radius: 8px;
    width: 160px;
    height: 40px;
    border-style: none;
    color: #F9F9F9;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    min-width: 135px;
    margin-top: 180px;
}

.box-row1.popright {
    animation: popright 2s ease;
}
.box-row2.popright {
    animation: popright 2s ease;
}

@keyframes popright {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#loadersecret {
    z-index: 99999;
    position: absolute;
    top: 40%;
    left: 40%;
}

.lblapi {
font-size: 30px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#loadersecret2 {
    width: 500px;
    height: 500px;
    border: 40px dotted #32449C;
    border-style: solid solid dotted dotted;
}

#loadersecret2::after {
    width: 300px;
    height: 300px;
    border: 30px dotted #EF8B16;
    border-style: solid solid dotted;
}

.fa-pencil {
    cursor: pointer;
    font-size: 30px;
    margin-right: 5px;
    color: blue;
}

.fa-trash {
    cursor: pointer;
    font-size: 30px;
    color: red;
}
