@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #D4D4D4;
    user-select: none;
}

.body {
    overflow-y: hidden;
    font-family: "Inter", sans-serif;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 14px;
    gap: 50px;
    
    position: absolute;
    width: 60px;
    height: 100vh;
    max-height: 100%;
    left: 0px;
    top: 0px;
    
    background: #32449C;
}

.icons {
    background-color: transparent;
    text-decoration: none;
}

.nav .icons i {
    color: white;
    background-color: transparent;
    font-size: 30px;
}

.nav .icons i:hover {
    color: #EF8B16;
    transition: ease .8s;
}

.nav .icons .arrow {
    margin-left: 10px;
    margin-top: -10px;
}

.nav .icons .arrow-group {
    background-color: transparent;
}

.nav .icons .arrow-group i {
    color: white;
    background-color: transparent;
    font-size: 30px;
}

.nav .icons .arrow-group:hover i {
    color: #EF8B16;
    transition: ease .8s;
}

.box-row1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
    width: 1rem;
}

.box-row2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.boxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 8px;
    margin-top: 80px;
    margin-left: 100px;
    width: 250px;
    height: 250px;
    background: #F9F9F9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

@keyframes enlargedd-in {
    from { width: 250px; }
    25% { width: 230px; }
    to { width: 482px; }
}

@keyframes enlargedd-out {
    from { width: 482px; }
    25% { width: 520px; }
    to { width: 250px;}
}


.boxes.enlarged {
    animation: enlargedd-in 0.6s ease forwards;
    border-color: #EF8B16;
    border-style: solid;
}

.boxes.shrunken {
    animation: enlargedd-out 0.6s ease forwards;
}

.boxes:hover {
    background: #E9E9E9;
    transition: ease .5s;
}

.pdfimage {
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-top: 30px;
    margin-left: 15px;
}

.mergeimage {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: -9px;
    background-color: transparent;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    width: 10rem;
}

.lbltitle {
    background-color: transparent;
    margin-top: 90px;
    margin-left: -120px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #383838;
    width: 10rem;
}

.lbldesc {
    background-color: transparent;
    font-size: 12px;
    margin-left: -7.5rem;
    margin-top: 2rem;
    font-family: "Inter", sans-serif;
    color: #555555;
    max-width: 300px;
}

.lbldesc.fadein{
    animation: goUp .4s ease-in forwards;
}

.lbldesc.fadeout {
    animation: goDown .4s ease-out forwards;
}

.next.fadeout {
    animation: goRight .4s ease-out forwards;
    transform: translateY(-20px);
}

.next {
    background-color: transparent;
    font-size: 20px;
    color: black;
    margin-left: 170px;
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}

@keyframes goUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes goDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}

.btnselect {
    background: #EA2929;
    border-radius: 8px;
    width: 135px;
    height: 32px;
    border-style: none;
    color: #F9F9F9;
    font-family: "Inter", sans-serif;
    margin-top: 5.5rem;
    margin-right: 3rem;
    cursor: pointer;
    min-width: 135px;
}

.btnselect.fadein {
    animation: fadeIn  .9s ease-in ;
}

.lbladd.fadein {
    animation: fadeIn 1s ease forwards;
}

.selected-file {
    margin-left: -10rem;
}

.selected-file-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 16px;
    gap: 16px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 205.58px;
    height: 45px;
}


.fileicon {
    position: absolute;
    color: #848080;
    font-size: 25px;
    background-color: #FFFFFF;
}


.remove-file-btn {
    background: transparent;
    border-style: none;
    float: right;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 99;
}

